{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="col-md-8">
      <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                {% if user.admin == True %}
                <h1>Admin: {{ user.username }}</h1>
                {% else %}
                <h1>User: {{ user.username }}</h1>
                {% endif %}
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user.voted != True %}
                <p> {{user.username}} has not voted </p>
                {% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}
            </td>
        </tr>
      </table>
    </div>
    <div class ="col-md-4">
      {% if user.voted == True %}
      <table class="table table-hover">
        <tr>
            <td>
                <h1>Movie Votes</h1>
                <p>{{ user.movie_vote1 }}</p>
                <p>{{ user.movie_vote2 }}</p>
                <p>{{ user.movie_vote3 }}</p>
                <p>{{ user.movie_vote4 }}</p>
                <p>{{ user.movie_vote5 }}</p>
            </td>
        </tr>
      </table>
      {% endif %}
    </div>
    {% if user.admin == True %}
    <div class = "col-md-4">
      {{ wtf.quick_form(admin_form) }}
    </div>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
